<div class='doing_card'>
  <div class="">
    <%= link_to doing.user do %>
    <div class="">
      <div class="">
        <div class="">
          @<%= doing.user.username %>
        </div>
        <div class="text-truncate" id="date"><%= doing.created_at.strftime("%m月%d日 %H:%M") %></div>
        <div class="d-flex align-self-center">
          <%= render 'doings/doing_edit_or_delete_btn', doing: doing %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= link_to doing do %>
    <div><%= doing.title %></div>
  <% end %>
  <div> <%= doing.summary %></div>
</div>